/* Dark and Light Mode Body Styles */
body {
    --frg-color: #222;
    --bkg-color: #fbfbf8;
    --frg-accent: #4D7D74;
    --bkg-accent: #A0B2A6;
    --menu-color: #41323C;
    --code-color: #EFEFEF;
    --shadow:  rgba(0,0,0,0.24);
    --hover-shadow: rgba(0,0,0,0.25);
}
  body.dark-theme {
    --frg-color: #f5f1e4;
    --bkg-color: #271e24;
    --frg-accent: #61988E;
    --bkg-accent: #41323C;
    --menu-color: #fff5ee;
    --code-color: #313131;
    --shadow:  rgba(251, 251, 248, 0.2);
    --hover-shadow: rgba(251, 251, 248, 0.4);
  }

@media (prefers-color-scheme: dark) {
  /* Default is dark mode */
  body {
    --frg-color: #f5f1e4;
    --bkg-color: #271e24;
    --frg-accent: #61988E;
    --bkg-accent: #41323C;
    --menu-color: #fff5ee;
    --code-color: #313131;
    --shadow:  rgba(251, 251, 248, 0.2);
    --hover-shadow: rgba(251, 251, 248, 0.4);
  }
  body.light-theme {
    --frg-color: #222;
    --bkg-color: #fbfbf8;
    --frg-accent: #61988E;
    --bkg-accent: #A0B2A6;
    --menu-color: #41323C;
    --code-color: #EFEFEF;
    --shadow:  rgba(0,0,0,0.24);
    --hover-shadow: rgba(0,0,0,0.25);
  }
}

/* End Dark and Light Mode Body Styles */
  
* {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--frg-color);
}

html {
  height: 100%;
}
  
body {
  margin: 0 auto;
  background: var(--bkg-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

header {
  width: 90%;
  margin: auto;
  padding-bottom: 2.5rem;
}

main {
  margin: auto;
  width: 80%;
  min-height: 60vh;
}

article {
  width: 80%;
  margin: auto;
}

h1 {
  margin: auto;
  padding: 1rem 0;
  font-size: 1.75rem;
}

h2 {
  margin: auto;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

h3 {
  margin: auto;
  font-size: 1.25rem;
}

h4 {
  margin: auto;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

code {
  background: var(--code-color);
  padding: 0 0.25rem;
}

pre {
  background: var(--code-color);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-left: 0.5rem solid var(--frg-accent);
  overflow: auto;
  text-shadow: 0 1px var(--shadow);
  line-height: 1.4;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

/* Menu */

nav {
  margin: auto;
  padding: 1rem;

}

.main-menu {
  height: 5rem;
  margin-bottom: 1rem;
  background: var(--bkg-accent);
  border-bottom: 1px solid var(--frg-color);
}

.skip-link {
  margin-top: -32px;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: all 0.3s;
}

.skip-link:focus {
  margin-top: 0;
  background: var(--frg-color);
  color: var(--bkg-color);
  transform: translateY(0%);
}

#burger {
  display: none;
}

#menu {
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.5s ease-in-out;
}

#menu ul {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
}

#menu li {
  display: inline;
}

  #menu li:hover {
    text-decoration: underline;
    color: var(--menu-color);
    font-weight: 700;
  }

#menu a {
  padding: 1rem 0;
  color: var(--frg-color);
  text-decoration: none;
}

  #menu a.current {
      color: var(--menu-color);
      font-weight: 700;
  }

  #menu a:hover {
      text-decoration: underline;
      color: var(--menu-color);
  }

  #menu a:active {
      text-decoration: underline;
      color: var(--menu-color);
  }

#menu hr {
  margin-top: 1rem;
}

#logo {
  fill: var(--frg-color);
}

@media (max-width: 948px) {

  #burger {
      display: block;
      cursor: pointer;
      height: 27px;
      width: 27px;
      margin-top: 10px;
      margin-bottom: 30px;
      margin-left: 30px;
      overflow: visible;
      position: relative;
      z-index: 1000;
  }
    #burger:focus {
      outline: 1px solid var(--frg-color);
      outline-offset: 10px;
    }
  
      #burger span,
      #burger span:before,
      #burger span:after {
          background: var(--frg-color);
          display: block;
          height: 4px;
          opacity: 1;
          position: absolute;
          transition: 0.2s ease-in-out;
      }
  
      #burger span:before,
      #burger span:after {
          content: "";
      }
  
      #burger span {
          right: 0px;
          top: 13px;
          width: 30px;
      }
  
      #burger span:before {
          left: 0px;
          top: -10px;
          width: 30px;
      }
  
      #burger span:after {
          left: 0px;
          top: 10px;
          width: 30px;
      }
    
      #burger.close span {
          background-color: var(--frg-color);
          transform: rotate(-45deg);
          top: 13px;
          width: 27px;
      }
    
      #burger.close span:before {
          background-color: var(--frg-color);
          top: 0px;
          transform: rotate(90deg);
          width: 27px;
      }
  
      #burger.close span:after {
          top: 0px;
          left:0;
          transform: rotate(90deg);
          opacity:0;
          width:0;
      }
    
  #menu{
      display: none;
      z-index: 500;
      min-width:100vw;
      min-height:100vh;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 15px;
    }
    
      #menu.overlay{
          width: 100vw;
          display: inline;
          visibility: visible;
          opacity: 1;
          padding-top: 60px;
          background:var(--bkg-color);
      }

  #menu ul {
      padding-top: 0.5rem;
      flex-direction: column;
  }
    
  #menu li{
      list-style:none;
  }
  
  #menu a{
      color:var(--frg-color);
      display: block;
      font-size: 2rem;
      margin-bottom: 0.5rem;
      padding: 0 0.5rem;
      text-decoration: none;
    }   
      #menu a:hover{
          color: var(--menu-color);
          text-decoration: underline;
      }  

      #menu a:active{
          color: var(--menu-color);
      }

      #menu a.active{
          color: var(--menu-color);
      }
  
  #menu hr {
    display: none;
  }
}

/* End Menu */

/* Toggle */

svg { 
  margin: 0 auto;
  fill: var(--frg-accent);
  outline: none;
}

.hidden {
  display: none;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

#moon {
  fill: #3c0077;
}

#sun {
  fill: #ffff00;
}

#dark-toggle {
  margin: 0pc;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background: none;
}

/* End Toggles */

.greeting {
  width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.greeting .primary {
  height: 400px;
  max-width: 500px;
}

.greeting .secondary {
  height: 269px;
  max-width: 500px;
}

.breadcrumbs {
  margin: auto;
  padding: 1rem;
  font-size: 1rem;
}

.centered {
  margin: auto;
  text-align: center;
}

.added {
  padding: 1rem 0;
  font-style: italic;
}

/* Cards */

.card {
  margin: 2rem auto;
  padding: 2rem;
  width: 80%;
  min-height: 100px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 5px 20px var(--shadow);
}

.card .icon {
  margin: auto 0;
}

.card .content {
  display: block;
  margin: 1rem;
  padding: 1rem;
}

/* End Cards */

/* Footer */

footer {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.pagination {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.pagination .next, .pagination .prev {
  margin: auto;
  padding: 1rem;
  display: inline;
  border: 1px solid var(--frg-color);
  border-radius: 5px;
}

.pagination a {
  margin: auto;
  padding: 1rem;
  display: inline;
  border: 1px solid var(--frg-color);
  border-radius: 5px;
  text-decoration: none;
}

.pagination svg {
  vertical-align: middle;
}

.pagination a:hover, .pagination a:focus {
  background-color: var(--frg-accent);
  color: var(--bkg-color);
}

.pagination a:hover svg, .pagination a:focus svg {
  fill: var(--bkg-color);
}

.contact-icons {
  display: flex;
  justify-content: space-between;
}

.contact-icons a {
  text-decoration: none;
}

.contact-icons a:hover {
  text-decoration: none;
  outline: 1px solid var(--frg-color);
  outline-offset: 10px;
}

.contact-icons a:active {
  text-decoration: none;
  outline: 1px solid var(--frg-color);
  outline-offset: 10px;
}

/* End Footer */