---
layout: base.njk
title: Listening
eleventyExcludeFromCollections: true
---
<div class="greeting">
  <h1>My Current Play List</h1>
  <img class="secondary" alt="Cool Kids Illustration by Irene Falgueras." src="/img/CoolKidsBust.png">
</div>

{% include "_card-listen.njk" %}