    
{% for album in playlist.albums %}
    <div class="card">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path d="{{ (playlist.icons | random).d }}"/></svg> 
        </div>
        <div class="content">
            <h3>
                {{ album.artist }}
            </h3>
            <h4>
                {{ album.album }}
            </h4>
            <p>{{ album.review }}</p>
        </div>
    </div>
{% endfor %}
 